<footer class="footer-overlay">
  <div class="footer-wrapper">
    <div class="row">
      <div class="col-md-4 footer-section">
        <h2>Contact Us</h2>
        <h3 class="email-link">
          <a href="mailto:bfsbeer@gmail.com">Click to email Birds Fly South</a>
        </h3>
        <hr id="footer-line">
      </div>
      <div class="col-md-4 footer-section">
        <h2>Instagram</h2>
        <div class="row">
          <% @insta = Instagram.user_recent_media("39375607", {:count => 4})  %>
          <% @insta.each do |insta| %>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <a href="https://instagram.com/bfsbeer"><%= image_tag(insta.images.low_resolution.url, class: "img-responsive insta-img") %></a>
            <p>Likes: <%= insta.likes[:count] %></p>
          </div>
          <% end %>
        </div>
        <hr id="footer-line">
      </div>
      <div class="col-md-4 footer-section">
        <h2>Upcoming Events</h2>
        <hr id="footer-line">
        <% Event.upcoming_events.each do |event| %>
          <h3><%= event.name %></h3>
          <p><%= event.event_date_time.strftime("%A, %b %d") %></p>
          <p><%= event.location %></p>
          <hr id="footer-line">
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 footer-bottom">
        <p>
          Birds Fly South - Belgian Ales, Farmhouse Flavors. Open fermentation in the upstate - Progressively Old School
        </p>
      </div>
    </div>
  </div>
</footer>
