<div class="container-fluid beers-list">
    <div class="beers__header">
      <h1 id="beers__header-text">Beers</h1>
      <hr id="header-divider-beers" />
    </div>
    <% @beer.each do |beer| %>
      <div class="col-md-4 beer-view">
        <%= link_to image_tag('rusticBottle.png', :class => "img-responsive index-bottle-image"), beer_path(beer) %>
        <h1 id="beer-heading"><%= beer.name %></h1>
        <p id="beer-desc"><%= beer.description %></p>
        <div class="beer-facts-wrapper">
          <p id="beer-facts"><span id="beer-facts-left">Style:</span> <%= beer.style %></p>
          <p id="beer-facts"><span id="beer-facts-left">ABV:</span> <%= beer.abv %></p>
          <p id="beer-facts"><span id="beer-facts-left">IBU:</span> <%= beer.ibu %></p>
          <p id="beer-facts"><span id="beer-facts-left">Color:</span> <%= beer.color %></p>
        </div>
      </div>
    <% end %>
</div>
