<div class="form-wrapper">
  <h1>New Beer</h1>

  <%= form_for @beer do |f| %>
    <p>
      <%= f.label :name %> <br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :style %> <br>
      <%= f.text_field :style %>
    </p>
    <p>
      <%= f.label :abv %> <br>
      <%= f.text_field :abv %>
    </p>
    <p>
      <%= f.label :ibu %> <br>
      <%= f.text_field :ibu %>
    </p>
    <p>
      <%= f.label :color %> <br>
      <%= f.text_field :color %>
    </p>
    <p>
      <%= f.label :description %> <br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.submit 'Create Beer' %>
    </p>
  <% end %>
</div>
