<div class="beer-image", style="background-image: url('<%= show_bg_img %>')">
  <div class="container beer-wrapper">
    <div class="row">
      <div class="col-md-4 col-md-push-4">
        <%= image_tag('rusticBottle.png', :class => "img-responsive beer-bottle-image") %>
      </div>
      <div class="col-md-4 beer-name col-md-pull-4 pull-down">
        <p class="beer-name"><%= @beer.name %></p>
        <p><%= @beer.description %></p>
      </div>
    <div class="col-md-4">
      <div class="beer-info pull-down">
        <p id="description-left">Style: <%= @beer.style %></p>
        <p id="description-left">ABV: <%= @beer.abv %></p>
        <p id="description-left">IBU: <%= @beer.ibu %></p>
        <p id="description-left">Color: <%= @beer.color %></p>
      </div>
    </div>
  </div>
</div>

<!-- <p><%= link_to 'Upload new image', new_beer_image_path(@beer) %></p> -->
