<%= javascript_include_tag('parallax.min.js') %>

<div class="beer-image", style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('<%= show_bg_img(@beer) %>')
  ; background-size: cover; background-position: 50%">
  <div class="container beer-wrapper">
      <div class="col-md-6 col-md-push-3">
        <%= image_tag(show_bottle_img(@beer), :class => "img-responsive beer-bottle-image") %>
      </div>
      <div class="col-md-3 beer-name col-md-pull-6 pull-down">
        <h2><%= @beer.name %></h2>
        <p><%= @beer.description %></p>
      </div>
    <div class="col-md-3 beer-descriptions">
      <div class="beer-info pull-down">
        <p id="description-left">Style: <%= @beer.style %></p>
        <p id="description-left">ABV: <%= @beer.abv %></p>
        <p id="description-left">IBU: <%= @beer.ibu %></p>
        <% if @beer.color? %>
          <p id="description-left">Color: <%= @beer.color %></p>
        <% end %>
      </div>
    </div>
</div>

<%= render 'shared/relatedbeers' %>
