<%= javascript_include_tag('parallax.min.js') %>

<div class="beer-image", style="background-image: url('<%= show_bg_img %>')">
  <div class="container beer-wrapper">
      <div class="col-md-6 col-md-push-3">
        <%= image_tag('rusticBottle.png', :class => "img-responsive beer-bottle-image") %>
      </div>
      <div class="col-md-3 beer-name col-md-pull-6 pull-down">
        <p><%= @beer.name %></p>
        <p><%= @beer.description %></p>
      </div>
    <div class="col-md-3 beer-descriptions">
      <div class="beer-info pull-down">
        <p id="description-left">Style: <%= @beer.style %></p>
        <p id="description-left">ABV: <%= @beer.abv %></p>
        <p id="description-left">IBU: <%= @beer.ibu %></p>
        <p id="description-left">Color: <%= @beer.color %></p>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 related-beers-header">
    <h2>Other Beers</h2>
    <hr id="header-divider" />
  </div>
</div>
<div class="related-beers">
  <% @related_beers.each do |beer| %>
    <h1><%= beer.name %></h1>
  <% end %>
</div>
