<div class="form-wrapper">
  <%= form_for [@beer, @image], html: { :multipart => true } do |f| %>
    <p>
      <%= f.label :title %> <br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :file %> <br>
      <%= f.file_field :file %>
    </p>
    <p>
      <%= f.label :background_image %> <br>
      <%= f.check_box :background_image %>
    </p>
    <p>
      <%= f.label :beer_image %> <br>
      <%= f.check_box :beer_image %>
    </p>

    <p>
      <%= f.submit 'Upload Image' %>
    </p>
  <% end %>
</div>
