<!DOCTYPE html>
<html>
<head>
  <title>Birds Fly South</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="navbar-brand">
        <%= image_tag('logo-resized.png', :class => 'logo-image') %>
      </div>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/index">Home</a></li>
          <li><%= link_to 'Beers', beers_path %></li>
          <li><a href="#">Our History</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Locator</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </nav>

  <%= yield %>

  <footer>
    <div class="footer-wrapper">
      <div class="row">
        <div class="col-md-4 footer-section">
          <h2>Another Section</h2>
          <hr id="footer-line">
        </div>
        <div class="col-md-4 footer-section">
          <h2>Instagram</h2>
          <hr id="footer-line">
        </div>
        <div class="col-md-4 footer-section">
          <h2>Upcoming Events</h2>
          <hr id="footer-line">
          <h3>Sour Stout Bottle Release</h3>
          <p>January 14, 2016</p>
          <p>Thomas Creek Brewery</p>
          <hr id="footer-line">
          <h3>Sour Stout Bottle Release</h3>
          <p>January 14, 2016</p>
          <p>Thomas Creek Brewery</p>
          <hr id="footer-line">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 footer-bottom">
          <p>
            Birds Fly South - Belgian Ales, Farmhouse Flavors, Open fermentation in the upstate
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
